<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
   
  <add name="BookmarksEntities" connectionString="metadata=res://*/Bookmarks.csdl|res://*/Bookmarks.ssdl|res://*/Bookmarks.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Bookmarks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>