<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <connectionStrings>
    <add name="BookmarksEntities" connectionString="metadata=res://*/Bookmarks.csdl|res://*/Bookmarks.ssdl|res://*/Bookmarks.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Bookmarks;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UsersConnectionString" providerName="System.Data.SqlClient"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Bookmarks;Integrated security=True"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Bookmarks.aspx" />
    </authentication>

    <authorization>
      <deny users="?"/>
    </authorization>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="UsersConnectionString"
             enablePasswordRetrieval="false" enablePasswordReset="false"
             requiresQuestionAndAnswer="false" minRequiredPasswordLength="3"
             maxInvalidPasswordAttempts="5" requiresUniqueEmail="false"
             minRequiredNonalphanumericCharacters="0" applicationName="/"
             passwordAttemptWindow="10"/>
      </providers>
    </membership>
    
  </system.web>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Controls"  >
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
